<h1><%= @list.name %></h1>

<%= link_to "Add a movie", new_list_bookmark_path(@list) %>
<% @list.bookmarks.each do |bm| %>
    <div class="card">
        <h2><%= bm.movie.title %></h2>
        <p><%= bm.movie.overview %></p>
        <p><%= bm.comment %></p>
        <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, bookmark_path(bm), data: {turbo_method: :delete} %>
    </div>
<% end %>
